<section class="container my-5">
	<div class="row">
		<div class="col-12 my-5">
			<h1 class="hero-dark-copy text-center">ACCOUNT SIGN IN</h1>
			<div class="text-center hero-copy">
				Hear about exciting offers and company news! Track and review<br>
				orders, as well as create and manage projects. Upload photos and a<br>
				copy of your measurements - all your info in one place.
			</div>
		</div>
	</div>
</section>
<hr>
<section class="container">
	<div class="row">
		<div class="col-sm-6">
			<% if flash[:alert] %>
			  <div class="flash errors"><%= flash[:alert] %></div>
			<% end %>

			<% @body_id = 'login' %>
			<div id="existing-customer">
			  <h6><%= I18n.t('spree.login_as_existing') %></h6>
			  <div data-hook="login">
			    <%= render partial: 'spree/shared/login' %>
			  </div>
			</div>
			<div data-hook="login_extras"></div>
		</div>

		<div class="col-sm-6">
			<% @body_id = 'signup' %>
			<div id="new-customer">
			  <h6><%= I18n.t('spree.new_customer') %></h6>
			  <div data-hook="signup">
			    <%= form_for resource, as: :spree_user, url: spree.registration_path(resource), autocomplete: "off" do |sign_up_form| %>
			      <div data-hook="signup_inside_form">
			        <%= render partial: 'spree/shared/user_form', locals: { f: sign_up_form } %>
			        <span class="row text-right">
								<%= sign_up_form.submit I18n.t('spree.create'), class: 'ml-auto continuebtn' %>
							</span>
			      </div>
			    <% end %>
			  </div>
			</div>
			<div data-hook="login_extras"></div>
		</div>
	</div>
</section>