<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>

<% @body_id = 'login' %>
<div id="existing-customer">
  <h6><%= I18n.t('spree.login_as_existing') %></h6>
  <div data-hook="login">
    <%= render partial: 'spree/shared/login' %>
    <%= I18n.t('spree.or') %>&nbsp;<%= link_to I18n.t('spree.create_a_new_account'), spree.signup_path %> | <%= link_to I18n.t('spree.forgot_password'), spree.recover_password_path %>
  </div>
</div>
<div data-hook="login_extras"></div>


<% @body_id = 'signup' %>

<%= render 'spree/shared/error_messages', target: resource %>

<div id="new-customer">
  <h6><%= I18n.t('spree.new_customer') %></h6>

  <div data-hook="signup">
    <%= form_for resource, as: :spree_user, url: spree.registration_path(resource) do |f| %>
      <div data-hook="signup_inside_form">
        <%= render partial: 'spree/shared/user_form', locals: { f: f } %>
        <p><%= f.submit I18n.t('spree.create'), class: 'button primary' %></p>
      </div>
    <% end %>
    <%= I18n.t('spree.or') %>&nbsp;<%= link_to I18n.t('spree.login_as_existing'), spree.login_path %>

  </div>

</div>

<div data-hook="login_extras"></div>
