<%= form_for Spree::User.new, as: :spree_user, url: spree.create_new_session_path do |f| %>
  <div id="password-credentials">
    <div class="row">
      <div class="col-sm-3">
        <%= f.label :email, I18n.t('spree.email') %><br />
      </div>
      <div class="col-sm-9">
        <%= f.email_field :email, class: 'title', tabindex: 1, autofocus: true %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <%= f.label :password, I18n.t('spree.password') %><br />
      </div>
      <div class="col-sm-9">
        <%= f.password_field :password, class: 'title', tabindex: 2 %>
      </div>
    </div>
  </div>
  <p>
    <%= f.check_box :remember_me, tabindex: 3 %>
    <%= f.label :remember_me, I18n.t('spree.remember_me') %>
  </p>

  <p><%= f.submit I18n.t('spree.login'), class: 'button primary', tabindex: 4 %></p>
<% end %>
